extends layout

block content
  - var categoryList = getCategories()
  - var tagList = getTags()
  h3
    a(href=tagUrl(tag)) posts tagged * #{tag}
  - each post in posts
    include includes/postSnippet
